<h1> Please input the names of player 1 and 2 </h1>
<form action="/names" method="post">
    <input type=text name="Player 1">
    <input type=text name="Player 2">
    <input type=submit value=Submit>
</form>