<h1> Player 1: <%= @player_1 %> </h1>

<form method="post" action="/play">
Attack Player 2<h2> HP: <%=@hp_p1%> </h2>
<input class='attack_player_2' type='submit' value='Attack'>

<h1> Player 2: <%= @player_2 %> </h1>
<input class='attack_player_1' type='submit' value='Attack'>Attack Player 1<h2> HP: <%=@hp_p2%> </h2>
</form>